@{
    ViewBag.Title = "Home Page";
}
<div class="container body-content" style="margin-top: 85px">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="../Images/Logo-01.png" class="img-responsive" style="width: 700px; margin:30px auto 0 auto;" />
            <br />
            <a class="btn btn-primary" style="margin-top: 40px; font-size: 28px; vertical-align: middle; line-height: 60px; width: 300px; height: 80px;">ثبت نام رویداد</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>
                <span>{</span>هاکا گلوبال چیست<span>}</span>
            </h2>
            <hr />
            <p>
                یک نبرد بین المللی برنامه نویسی جهت هم افزایی و شبکه سازی در بین جامعه برنامه نویسان در کل دنیاست، که تاکنون در چندین شهر دنیا برگزار شده است. تعداد هاکاسیتی ها در حال افزایش است و در آینده‌ی نردیک نیز افرادی از هر هاکاسیتی در یک هاکاتون جهانی به نام هاکاگلوبال شرکت میکنند که در یک شهر توریستی برگزار میشود.
            </p>
        </div>
        <div class="col-md-6">
            <h2>
                <span>{</span>هدف برگزاری _هاکا سیتی_ چیست؟<span>}</span>
            </h2>
            <hr />
            <p>
                جامعۀ برنامه نویسان در دنیا خیلی فعال هستند و با اشتراک گذاری دانش میان یکدیگر باعث رشد و پیشرفت جامعۀ برنامه نویسی می شوند. در ایران کمی اوضاع فرق می کند و برنامه نویسان معمولاً زیاد از فعالیت های یکدیگر اطلاعی ندارند و در اتاق خودشان مشغول کدنویسی هستند. این رویداد باعث می شود که اولاً با همکاران خودشان بیشتر آشنا شوند و شبکه سازی در میان آنان به صورت حضوری و مجازی انجام شود، دوم اینکه شرکت هایی که به دنبال نیروهای متخصص می گردند، با حمایت مالی از رویداد می توانند برنامه نویسان خوب و خبره را در این رویدادها شناسایی و جذب نمایند.
            </p>
        </div>
        <div class="col-md-12">
            <h2>
                <span>{</span>مراحل هاکا سیتی<span>}</span>
            </h2>
            <hr />
            <p>
                هر هاکا-سیتی دو رویداد متفاوت برگزار میکند:

                رویداد اول برول(Brawl) نام دارد که شامل یک نبرد برنامه نویسی دو تا سه ساعته است. از آنجایی که زمان این نبرد ها محدود میباشد، شرکت کنندگان به جای ساختن یک محصول، بر سر یک هدف مشخص رقابت میکنند. برول ها هر ماه به طور منظم برگزار میشوند.

                رویداد دوم هاکاتون(Hackathon) نام دارد که دو تا سه روز به طول میکشد و در قالب آن، شرکت کنندگان در قالب چند تیم، تمام مراحل طرح ایده و ساخت نسخه اولیه یک محصول را طی میکنند.

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

            <div style="display: block; width: 300px; margin: 0 auto 30px auto;">
                <h2>رویدادهای پیش رو</h2>
                <hr class="event" />
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img src="../Images/event.png" style="width: 383px;" />
        </div>
        <div class="col-md-8" style="padding-right: 50px;">
            <p>
                مسیبلیسخ کخخهخل خخه خثهالخثقاثشقعاشخهاشقثخهعا
            </p>
            <p>
                مسیبلیسخ کخخهخل خخه خثهالخثقاثشقعاشخهاشقثخهعا
            </p>
            <p>
                مسیبلیسخ کخخهخل خخه خثهالخثقاثشقعاشخهاشقثخهعا
            </p>
            <p>
                مسیبلیسخ کخخهخل خخه خثهالخثقاثشقعاشخهاشقثخهعا
            </p>
            <p>
                مسیبلیسخ کخخهخل خخه خثهالخثقاثشقعاشخهاشقثخهعا
            </p>
            <p>
                مسیبلیسخ کخخهخل خخه خثهالخثقاثشقعاشخهاشقثخهعا
            </p>
            <a class="btn btn-primary pull-left">همه رویدادها</a>
            <a class="btn btn-primary pull-left" style="margin-left: 10px;">بیشتر..</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered mytable">
            <thead>
                <tr>
                    <th>شنبه</th>
                    <th>شنبه</th>
                    <th>شنبه</th>
                    <th>شنبه</th>
                    <th>شنبه</th>
                    <th>شنبه</th>
                    <th>شنبه</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<div class="row">
        <hr/>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" />
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas"/>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg"/>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg"/>
        </div>
        <hr/>
    </div>-->
    <div class="row" id="contactDiv">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    نام و نام خانوادگی
                                </label>
                                <input type="text" class="form-control" id="name" placeholder=" نام و نام خانوادگی" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    ایمیل
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="ایمیل" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    موضوع
                                </label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="service">General Customer Service</option>
                                    <option value="suggestions">Suggestions</option>
                                    <option value="product">Product Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    پیام
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                          placeholder="پیام"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                ارسال
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span>آدرس ما</legend>
                <address>
                    <strong>Twitter, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    <abbr title="Phone">
                        P:
                    </abbr>
                    (123) 456-7890
                </address>
                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="map"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <input id="Text1" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input id="Text2" type="text" style="width: 500px" />
        </div>
    </div>
    <footer>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Lorem Ipsum </h3>
                        <ul>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Lorem Ipsum </h3>
                        <ul>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Lorem Ipsum </h3>
                        <ul>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Lorem Ipsum </h3>
                        <ul>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                            <li> <a href="#"> Lorem Ipsum </a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> Lorem Ipsum </h3>
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn  bg-gray" type="button"> Lorem ipsum <i class="fa fa-long-arrow-right"> </i> </button>
                                </div>
                            </li>
                        </ul>
                        <ul class="social">
                            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-->

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-amex"></i></li>
                        <li><i class="fa fa-cc-paypal"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>
</div>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@